@charset "utf-8";
/* CSS Document */

div.jumbotron.jumbotron-fluid{
	background-color:#69D8D8;
}

nav{
	font-family: 'Comic Neue', cursive;
}

h1{
	font-family: 'Sacramento', cursive;
}

p{
	font-family: 'Comic Neue', cursive;
}

.btn btn-success

.btn{
	color: #fff;
  background-color:darkorchid;
  border-color:blueviolet;
	
}

.btn-primary{
	background-color:#FF4B8B;
	border-color: azure;
}

.btn-primary:hover {
  color: #fff;
  background-color:#6E65FD;
  border-color:#6E65FD;
}

.btn-primary:focus, .btn-primary.focus {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}.nombreMarca {
}
